#areaView {
	position: absolute;
	z-index: 20;
	top: 0;
	left: 0;
	width: 30em;
	height: 4rem;
	padding: 1rem 2rem 1rem 1rem;
	display: flex;
	justify-content: space-between;
	color: $white_alpha;
	box-shadow: 0px 0px 2px #000;

	.herz {
		display: flex;
	}

	.button {
		width: 2.5rem;
		height: 2.5rem;
		background-size: 45%;
		background-repeat: no-repeat;
		background-position: center center;
		cursor: pointer;
		opacity: .8;
		
		&:hover {
			opacity: 1;
		}
	}
	
	#menu-btn {
		margin: 0 .5rem;
		background-image: url("../img/icon_38.svg");
	}

	#typo-logo {
		width: 5rem;
		height: 1rem;
		margin-top: 0.7rem;
		background-image: url("../img/afeefa-logo-typo-white.svg");
		background-repeat: no-repeat;
		background-size: contain;
		background-position: left center;
	}

	#current-area, #current-language {
		height: 1.1rem;
		margin-top: 0.7rem;
		text-indent: 2em;
		font-size: 0.9rem;
		background-repeat: no-repeat;
		background-size: 1.5em;
		background-position: left center;
		cursor: pointer;
		opacity: .7;

		&:hover {
			opacity: 1;
		}
	}
	#current-area {
		background-image: url("../img/city.svg");
		display: none;
	}
	#current-language {
		background-image: url("../img/icon_44.svg");
	}

	.area-btn {
		display: none;
		-webkit-animation: slide-in-blurred-bottom 0.3s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
		animation: slide-in-blurred-bottom 0.3s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
		padding: .3rem 1rem .3rem 2.5rem;
		cursor: pointer;
		font-weight: 400;
		color: $gray50;

		&.active {
			display: inline-block;
			order: 99;
			background-image: url("../img/city.svg");
			background-repeat: no-repeat;
			background-size: 1.6rem;
			background-position: left center;
		}
	}

	&.active {
		.area-btn {
			background-color: $white;
			background-image: none;
			color: $black;
			display: inline-block !important;

			&:hover {
				background-color: $gray20;
			}
		}
	}
}

.mobile {
	#areaView {
		width: 100%;
	}
}

.rtl {
	#areaView {
		.area-btn {
			padding: .3rem 2rem .3rem 1rem;
			&.active {
				background-position: right center;
			}
		}
	}
}
