#detailView {

	@include goBackLayout;

	top: 0;
	right: 0;
	left: auto;
	height: 100%;
	z-index: 30;
	overflow: hidden;

	.back-btn {
		display: none;
	}

	.heading {
		cursor: pointer;

		h1 {
			padding: 1.5rem 1.5rem 1.4rem;
		}
	}

	.badge {
		display: none;
		position: absolute;
		height: 2.5em;
		width: 2.5em;
		top: 1em;
		right: 1em;
		
		&.badge-certificate {
			background-image: url("../img/icon_169.svg");
			background-size: 100%;
			background-position: center center;
			background-repeat: no-repeat;
		}
	}

	.action-bar {
		display: flex;
		justify-content: space-evenly;
		width: 80%;
		margin: 2em auto 0;
		padding-bottom: 2em;
		border-bottom: 1px solid $gray20;

		.action {
			height: 5rem;
			cursor: pointer;
			
			.action-icon {
				height: 3rem;
				margin-bottom: .5rem;
				background-size: contain;
				background-position: center center;
				background-repeat: no-repeat;
			}
			span {
				height: 1.5rem;
				text-align: center;
			}
			
			&.message-btn {
				display: none;
				
				.action-icon {
					background-image: url("../img/icon_202.svg");
				}
			}
			
			&.bookmark-btn {
				.action-icon {
					background-image: url("../img/icon_bookmark_black_outline.svg");
				}
		
				&.active {
					.action-icon {
						background-image: url("../img/icon_bookmark_black.svg");
					}
				}
			}
		}

	}
	.feedback-btn {
		cursor: pointer;
		margin: 1em 0;
		color: $gray50;
		text-align: center;
	}

	/* IMAGE PROPERTY */
	.image-container {
		max-height: 10em;
		text-align: center;
		overflow: hidden;

		img {
			width: 100%;
		}
	}

	/* TIMESTAMP PROPERTY */
	.timestamp {
		font-size: .8em;
		color: $gray50;
		text-align: center;
	}

	/* LINKED ENTRIES */
	.linkedentries {
		.property-value {
			cursor: pointer;
			@extend a;
		}
	}

	/* OTHER PROPERTIES */
	.property {
		display: none;
		padding: 0 5%;
		margin-top: 2em;
		min-height: 2em;

		$iconSize: 2.5em;

		&.category {
			.property-icon {
				@include entityShapes;
				@include categoryColors;
				@include categorySymbols;
			}
			.property-value {
				font-style: italic;
				color: $gray50;
			}
		}

		&.descriptionShort {
			font-weight: bold;
			text-align: center;
			background-color: white;
			padding: 4%;
			cursor: pointer;
			
			&.read-more {
				background-image: url("../img/icon_175.svg");
				background-position: center bottom;
				background-size: 8%;
				background-repeat: no-repeat;
				padding: 4% 4% 8%;
			}

			.property-icon {display: none;}
			.property-text { margin-left: 0; }
			.property-name {display: none;}
		}

		&.description {
			.property-name {display: none;}

			&.hidden {
				display: none !important;
			}
		}

		&.descriptionShort, &.description {
		}

		.property-icon {
			width: $iconSize;
			height: $iconSize;
			float: left;

			background-repeat: no-repeat;
			background-position: center 0.2em;

			@include propertyIcons;
		}
		.property-text {
			margin-left: calc(5% + 2.5em);

			&.ar, &.ur, &.fa {
				margin-right: calc(5% + 2.5em);
			}

			p { 
				margin: 0;
				line-height: 1.3em;

				&.property-name {
					color: $gray50;
					font-size: 0.9em;
					padding-bottom: 0.3em;
					text-transform: uppercase;
				}
			}

			a {
					width: 100%;
					display: inline-block;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
			}
		}

		&.location .property-value {
			background-position: right .5em;
			background-repeat: no-repeat;
			background-size: 1em;
			cursor: pointer;
		}

		.multiselect-value {
			display: inline-block;
			margin: 0 .5em .5em 0;
		}

		&.category .property-name {
			font-size: 1em !important;
			padding: 0 !important;
			color: $black !important;
			text-transform: none !important;
		}

	}
	
	/* overwrite for POIs */
	&.type-3 {
		.property.category {
			.property-name { line-height: 2.6em !important; }
			.property-value { display: none; }
		}
	}
}

.mobile {

	#detailView {
		
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		overflow: hidden;

		display: none;
		
		.scroll-container {
			padding-bottom: 5em;
		}

		.back-btn {
			display: block;
			left: 0;
		}
	
		.heading h1 {
			overflow: inherit;
			text-overflow: inherit;
			white-space: inherit;
			padding: 1.5rem 1.5rem 1.4rem 4rem;
		}
		
		&.active {
			display: flex;
		}
		
		&.small {

			height: 4em;
			
			.heading h1 {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				padding: 1.5rem 1.5rem 1.4rem 1.5rem;
			}

			.back-btn, badge-certificate {
				display: none !important;
			}
		}
	}
}

.rtl {
	#detailView {
		.property.location .property-value {
			background-position: left .5em;
		}
	}
}
