.desktop #footer {
	
	background-color: black;
	position: absolute;
	bottom: 0;
  width: 100%;
  height: 2rem;
  padding: .3rem 1rem 0;
  font-size: .9rem;
  color: $gray50;
  
  p {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
	}

  a {
  	color: $white;
  	text-decoration: none;
  }
}

.mobile {
	#footer{
		display: none;
	}
}
