@mixin goBackLayout {
	
	position: absolute;
	top: 0;
	left: 0;
	width: 30em;
	height: 100%;

	display: flex;
	flex-direction: column;
	
	visibility: hidden;
	background-color: $white;
	box-shadow: 0px 0px 2px #333;
	opacity: 0;
	transition: opacity 200ms;
	
	&.active {
		visibility: visible;
		opacity: 1;
	}

	/* HEADING */
	.heading {
		
		min-height: 4em;
		flex-shrink: 0;
		color: $white;
		background-color: $gray95;
		position: relative;

		@include categoryColors;
		&.cat-general {
			background-color: $gray50 !important;
		}

		h1 {
			box-sizing: border-box;
			margin: 0;
			padding: 1.5rem 3rem 1.4rem 5rem;;

			font-weight: 300;
			font-size: 1.1rem;
			line-height: 1.1rem;
		}
	}

	.scroll-container {
		flex-grow: 1;
		overflow-y: auto;
		padding-bottom: 1em;
		overflow-x: hidden;
		position: relative;
	}

	.back-btn {
		position: absolute;
		top: .2em;
		left: 1em;
		width: 4em;
		height: 4em;
		cursor: pointer;
		opacity: .8;
		background-image: url("../img/icon_201.svg");
		background-size: 40%;
		background-position: center center;
		background-repeat: no-repeat;

		&:hover {
			opacity: 1;
		}
	}
}
