
#includeView {
	
	@include goBackLayout;

	z-index: 20;
	width: 50vw;
	height: 100%;
	top: 0;

	&.imprint {
		direction: ltr;
	}

	a {
		@include textLink;
	}
	a[href^="afeefa://orga"], a[href^="afeefa://event"] {
		display: inline-block;
		padding: 0 .5em 0 1.7em;
		background: url("../img/icon_203.svg") .4em center no-repeat;
		background-size: .9em;
		border-bottom: none;
		box-shadow: 1px 1px 1px 1px $gray50;
		line-height: 1.3em;

		// &:before {
		// 	content: "Angebot öffnen: ";
		// 	font-size: 0.8em;
		// 	color: $gray50;
		// 	display: block;
		// }

		&:hover {
			border-color: black;
			background-color: inherit;
			color: inherit;
		};
	}

	img {
		max-width: 100% !important;
		height: auto !important;
	}

	.scroll-container {
		
		flex-grow: 1;
		width: 100%;
		padding: 1em 3rem;
		position: relative;
		word-break: break-all;
		
		.header {
			background-color: $black;
			padding: 0 3rem;

			h1 {
				font-weight: 300;
				margin: 0;
				padding: 5rem 0 1rem 0;
				font-size: 2em;
				color: $white;
				box-sizing: content-box;

				transition: padding 500ms;
			}

			p.subheading {
				color: $white;
				margin: 0;
				position: relative;
				top: -0.5em;
			}

			&.min {
				h1 { padding-top: 1rem; }

				p.subheading { display: none; }
			}
		}

		h1, h2, h3, h4, h5, h6 {
			font-weight: 100;
		}
		h1 {
			font-size: 3rem;
		}
		h2 {
			font-size: 2rem;
			line-height: 1.3em;
			margin: 2em 0 1em;
			text-transform: uppercase;

			&:first-child {
				margin-top: 0;
			}
		}

		h3 {
			font-size: 1.2rem;
			font-weight: 100;
			line-height: 1em;
			margin: 1.5em 0 .7em;
		}

		h4 {
			font-size: 1rem;
			font-weight: bold;
			line-height: 1em;
			margin: 1em 0 .5em;
		}

		p {
			text-align: justify;
			font-weight: 300;
			line-height: 1.5em;
		}

		table {
			font-weight: 300;

			td {
				padding: .3em 0 .3em 1em;
				&:first-child { padding-left: 0em; }
			}
		}

		hr {
			border-color: #ccc;
		}

		.no-top-margin {
			margin-top: 0;
		}

		p.figure-caption{
			margin-top: 0;
			padding: .3em;
			font-weight: 100;
			font-style: italic;
			font-size: .8em;
		}
	}
}

body.tablet {

	#includeView {
		.entry-content {
			overflow: scroll;
		}
	}

}

.mobile {

	#includeView {
		width: 100vw;
		left: 0;
		top: 0;

		.scroll-container {
			padding: 1em 1.5rem;
			
			h1 {
				font-size: 2rem;
			}
			h2 {
				font-size: 1.5rem;
			}
		}


		.header {
			h1 { padding-top: 1rem !important; }
			p.subheading { display: none !important; }
		}
	}

}
