@mixin entityShapes {

	/* orga */
	&.type-0 {
		border-radius: 1px;
	}

	/* Offer */
	&.type-1 {
		border-radius: 10px;
	}

	/* event */
	&.type-2 {
		border-radius: 3px;
		/*position: relative;*/
		/*overflow: hidden;*/
		transform: rotate(45deg);

		/*&::before {
		    content: "";
		    position: absolute;
		    width: 200%;
		    height: 200%;
		    top: -50%;
		    left: -50%;
		    z-index: -1;
		    background: url("../img/icon_10.svg") center center no-repeat;
			transform: rotate(-45deg);
		}*/
	}

	/* POI */
	&.type-3 {
		border-radius: 20px;
	}
}

@mixin categorySymbols {

	background-size: 72%;
	background-repeat: no-repeat;
	background-position: center center;

	&.cat-general	{ background-image: url("../img/icon_174.svg"); }
	&.cat-language	{ background-image: url("../img/icon_06.svg"); }
	&.cat-medic { background-image: url("../img/icon_04.svg"); }
	&.cat-jobs { background-image: url("../img/icon_76.svg"); }
	&.cat-consultation { background-image: url("../img/icon_10.svg"); }
	&.cat-leisure { background-image: url("../img/icon_86.svg"); }
	&.cat-community { background-image: url("../img/icon_02.svg"); background-size: 85%; }
	&.cat-donation { background-image: url("../img/icon_12.svg"); }
	&.cat-external-event { background-image: url("../img/icon_192.svg"); }

	&.cat-wifi { background-image: url("../img/icon_148.svg"); }
	&.cat-jewish { background-image: url("../img/icon_22.svg"); }
	&.cat-christian { background-image: url("../img/icon_60.svg"); }
	&.cat-islam { background-image: url("../img/icon_62.svg"); }
	&.cat-religious-other { background-image: url("../img/icon_158.svg"); }
	&.cat-shop { background-image: url("../img/icon_66.svg"); background-size: 50%; }
	&.cat-nature { background-image: url("../img/icon_96.svg"); background-size: 65%; }
	&.cat-authority { background-image: url("../img/icon_70.svg"); background-size: 60%; }
	&.cat-hospital { background-image: url("../img/icon_04.svg"); }
	&.cat-police { background-image: url("../img/icon_146.svg"); }
	&.cat-public-transport { background-image: url("../img/icon_58.svg"); }

	&.cat-german-course { background-image: url("../img/icon_88.svg"); }
	&.cat-german-course-state { background-image: url("../img/icon_180.svg"); }
	&.cat-meet-and-speak { background-image: url("../img/icon_100.svg"); }
	&.cat-learning-place { background-image: url("../img/icon_90.svg"); }
	&.cat-interpreter { background-image: url("../img/icon_164.svg"); }
	&.cat-foreign-language { background-image: url("../img/icon_178.svg"); }

	&.cat-medical-counselling { background-image: url("../img/icon_104.svg"); }
	&.cat-psychological-counselling { background-image: url("../img/icon_106.svg"); }

	&.cat-job-counselling { background-image: url("../img/icon_10.svg"); }
	&.cat-education-counselling { background-image: url("../img/icon_172.svg"); }
	&.cat-political-education { background-image: url("../img/icon_108.svg"); }
	&.cat-library { background-image: url("../img/icon_18.svg"); }

	&.cat-asylum-counselling { background-image: url("../img/icon_112.svg"); }
	&.cat-legal-advice { background-image: url("../img/icon_110.svg"); }
	&.cat-social-counselling { background-image: url("../img/icon_114.svg"); }
	&.cat-family-counselling { background-image: url("../img/icon_92.svg"); }
	&.cat-volunteer-coordination { background-image: url("../img/icon_56.svg"); }

	&.cat-youth-club { background-image: url("../img/icon_166.svg"); }
	&.cat-sports { background-image: url("../img/icon_08.svg"); }
	&.cat-museum { background-image: url("../img/icon_116.svg"); }
	&.cat-music { background-image: url("../img/icon_120.svg"); }
	&.cat-stage { background-image: url("../img/icon_154.svg"); }
	&.cat-craft-art { background-image: url("../img/icon_98.svg"); background-size: 75%; }
	&.cat-workspace { background-image: url("../img/icon_188.svg"); }
	&.cat-gardening { background-image: url("../img/icon_118.svg"); }
	&.cat-cooking { background-image: url("../img/icon_126.svg"); }
	&.cat-festival { background-image: url("../img/icon_82.svg"); }
	&.cat-lecture { background-image: url("../img/icon_162.svg"); }
	&.cat-film { background-image: url("../img/icon_182.svg"); }
	&.cat-congress { background-image: url("../img/icon_186.svg"); }

	&.cat-welcome-network { background-image: url("../img/icon_64.svg") !important; }
	&.cat-meeting-place { background-image: url("../img/icon_78.svg"); }
	&.cat-childcare { background-image: url("../img/icon_130.svg"); }
	&.cat-workshop { background-image: url("../img/icon_190.svg"); }
	&.cat-sponsorship { background-image: url("../img/icon_168.svg"); }
	&.cat-lgbt { background-image: url("../img/icon_132.svg"); }
	&.cat-housing-project { background-image: url("../img/icon_136.svg"); }

	&.cat-food { background-image: url("../img/icon_142.svg"); }
	&.cat-clothes { background-image: url("../img/icon_140.svg"); }
	&.cat-furniture { background-image: url("../img/icon_144.svg"); }

	&.cat-iwgr { background-image: url("../img/icon_194.svg"); background-size: 85%; }
	&.cat-fb-event { background-image: url("../img/icon_196.svg"); background-size: 85%; }


	/* LEIPZIG */

	&.cat-hotspots { background-image: url("../img/icon_166.svg"); }
	&.cat-advice-and-support { background-image: url("../img/icon_10.svg"); }
	&.cat-living-in-leipzig { background-image: url("../img/icon_86.svg"); }
	&.cat-work-and-education { background-image: url("../img/icon_76.svg"); }

}

@mixin propertyIcons {
	&.icon-times { background-image: url("../img/icon_29.svg"); }
	&.icon-location { background-image: url("../img/icon_35.svg"); }
	&.icon-phone { background-image: url("../img/icon_23.svg"); }
	&.icon-mail { background-image: url("../img/icon_25.svg"); }
	&.icon-web { background-image: url("../img/icon_27.svg"); }
	&.icon-arrival { background-image: url("../img/icon_57.svg"); }
	&.icon-openingHours { background-image: url("../img/icon_29.svg"); }
	&.icon-description { background-image: url("../img/icon_175.svg"); background-size: 70%; }
	&.icon-facebook { background-image: url("../img/icon_45.svg"); }
	&.icon-spokenLanguages { background-image: url("../img/icon_43.svg"); }
	&.icon-speakerPublic { background-image: url("../img/icon_41.svg"); }
	&.icon-supportWantedDetail { background-image: url("../img/icon_55.svg"); background-size: 90%; }
}