#menuView {
	
	position: absolute;
	top: 0;
	opacity: 0;
	
	box-sizing: border-box;
	width: 15em;
	left: -15em;
	transition: left 150ms;
	height: 100%;
	padding: 2em 0;
	background-color: $gray95;
	box-shadow: 1px 0px 2px #111;
	overflow-y: scroll;
	overflow-x: hidden;
	
	&.active {
		z-index: 9999;
		left: 0;
		opacity: 1;
	}

	#logo, a#dfa-logo {
		width: 80%;
		display: block;
		margin: 0 auto 3em auto;

		img { width: 100%; }
	}

	a#dfa-logo {
		width: 60%;
		margin: 3em auto 0 auto;
	}

	.item {
		box-sizing: border-box;
		width: 100%;
		padding: 0 5em 0 1em;
		background-color: rgba(0,0,0,0.5);
		margin-bottom: 1em;
		cursor: pointer;
		text-align: right;

		&:hover { background-color: rgba(0,0,0,0.6); }

		a, span {
			line-height: 2em;
			color: $white;
			font-weight: 100;
			text-decoration: none;
		}
	}

	.fundingNote {
		color: $white;
		padding: 2rem;
		font-size: 0.8rem;
	}

}

body.phone {

	#menuView{

		#main-menu{
			height: 100%;
			overflow-y: auto;
			overflow-x: hidden;
		}

		.menu-btn {
			right: -5em;
		}

		/*.item.refugee-guide, .item.supporter-guide, .item.help, .item.about {*/
			/*display: none;*/
		/*}*/

	}

}
