#menuView {
	
	position: absolute;
	top: 0;
	opacity: 0;
	
	color: $white;
	font-weight: 100;
	box-sizing: border-box;
	width: 20em;
	left: -20em;
	transition: left 150ms;
	height: 100%;
	padding: 2rem;
	background-color: $gray95;
	box-shadow: 1px 0px 2px #111;
	overflow-y: scroll;
	overflow-x: hidden;
	
	&.active {
		z-index: 9999;
		left: 0;
		opacity: 1;
	}

	#logo, a#dfa-logo {
		width: 80%;
		display: block;
		margin: 0 auto 3em auto;

		img { width: 100%; }
	}

	.teamOfCharge {
		margin-top: 3em;
		
		span {
			font-size: 0.8rem;
			font-weight: normal;
			color: $gray80;
		}

		img {
			width: 90%;
		}

		.teamOfCharge-contact {
			display: block;
			margin-top: 1em;
		}
	}

	.item {
		box-sizing: border-box;
		width: 100%;
		padding: 0 5em 0 0;
		margin: 1em 0;
		cursor: pointer;
		text-align: left;
		border-bottom: 1px solid $gray80;
		
		&:hover { 
			transition: text-indent 150ms;
			text-indent: .5em;
		}

		a, span {
			line-height: 2em;
			text-decoration: none;
		}
	}

	.fundingNote {
		margin-top: 3em;
		font-size: 0.8rem;
			color: $gray80;
		font-weight: normal;
	}

}

body.phone {

	#menuView{

		#main-menu{
			height: 100%;
			overflow-y: auto;
			overflow-x: hidden;
		}

		.menu-btn {
			right: -5em;
		}

		/*.item.refugee-guide, .item.supporter-guide, .item.help, .item.about {*/
			/*display: none;*/
		/*}*/

	}

}
