#searchView {
	
	$viewWidth: 30em;

	position: absolute;
	top: 4rem;
	left: 0em;
	z-index: 10;
	background-color: $gray95;
	box-shadow: 0px 0px 2px #000;
	color: $white;
	
	width: $viewWidth;
	height: calc(100% - 4rem);
	
	$height_sb: 2.5rem;

	#search-bar {
		position: relative;
		width: calc(100% - 4rem);
		left: 2rem;
		top: 1.5rem;
		height: $height_sb;
		z-index: 20;
		background-color: $gray90;
		box-shadow: 0px 2px 5px #000;
		border-radius: 2px;

		.button {
			position: absolute;
			width: 3rem;
			height: $height_sb;
			background-size: 50%;
			background-repeat: no-repeat;
			background-position: center center;
			cursor: pointer;
			opacity: .8;

			&:hover {
				opacity: 1;
			}
		}

		.add-btn {
			top: 0;
			right: 0;
	    background-image: url("../img/icon_34.svg");
			background-size: 40%;
		}

		.filter-btn {
			display: none;
		}

		.cancel-btn {
			top: 0;
			right: 0;
	    background-image: url("../img/icon_34.svg");
			transform: rotate(45deg);
			opacity: 1;
			display: none;
		}

		input {
			position: absolute;
			top: 0;
			left: 1rem;
			width: calc(100% - 4rem);
			height: $height_sb;
			line-height: $height_sb;
			background: none;
			border: none;
			color: $white;
			box-shadow: none;

			&::placeholder{
				color: $white_alpha;
			}

			&:focus {
				outline-color: rgba(0,0,0,0) !important;
			}
		}

		.search-tag {
			height: 1.5rem;
			width: calc(100% - 4rem);
			position: absolute;
			left: 1rem;
			top: calc( (2.5rem - 1.5rem) / 2 );
			padding: 0 .3rem;
			cursor: pointer;
			display: none;
			background-color: $gray5;
			text-align: center;
			&.active { display: inline-block; }
    	overflow: hidden;
    	text-overflow: ellipsis;
			border-radius: .1em;

			&[class*="cat"] {
				color: $white;
			}
		}
	}

	a.suggestion {
		display: block;
    margin: .5rem 0 2rem;
    padding-left: 3rem;
    opacity: .6;
		&.tag {}
		&.group {}
		&.list {}
		&.article {}
	}

	.list-results {
		top: 4rem;
		height: calc(100% - 4rem);
	}

	&.active-search {

		.cancel-btn {
			display: block !important;
		}

		.add-btn {
			display: none;
		}
	}
}

.tablet {

	#searchView {
		&.active {
			.list-results {
		    overflow: scroll;
			}
		}
  }	
	
}

.mobile {

	#searchView {
		width: 100%;
		box-shadow: none;
		
		#search-bar {
			width: calc(100% - 2rem);
			left: 1rem;
			top: 0.8rem;
		}

		.list-results {
			left: 0;
			right: 0;
			padding: 1rem 1rem 2rem;
			width: 100%;
			overflow: scroll;
		}
  }	
}

.mobile .rtl {
	#search-bar {
		right: 1rem;
	}
}

.rtl {
	#searchView {
		.labels {
			padding-right: 0 !important;
			padding-left: 1em !important;
		}
	}
}

.desktop {
	#search-bar {
		left: 0;
		right: 2rem;
	}
}